
.home .container{
    display: flex;
    flex-wrap: wrap;
    background: rgb(230, 243, 251);
    background-size: cover;
    align-items: center;
    padding: 60px 40px;
    margin-bottom: 40px;
}
.home .container .content{
    flex: 35%;
}
.home .container .image{
    flex: 35%;
}
.home .container .content h3{
font-size: 40px;
color: #840752;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.home .container .content p{
    font-size: 25px;
    margin-top: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.home .container .content .button{
    margin-top: 30px;

}
 .button .Shop-link{
    color: white;
    background:  #840752;
    padding: 8px 12px;  
    border-radius: 10px;
    text-decoration: none;
}
 .button .Shop-link:hover{
background: white;
color: #840752;
}
.home .container .image{
    filter: drop-shadow(5px 5px 5px rgb(38, 31, 31));
    
}

/* about section */

.about .container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.about .container .image{
    flex: 35%;
}
.about .container .content{
    flex: 35%;
}
.heading{
    font-size: 33px;
    color: #840752;
    text-align: center;
    margin-top: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.about .container .content p{
    flex: 1 1 350px;
    font-size: 25px;
    margin-bottom: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* newsletter section */
.newsletter p{
    font-size: 25px;
    padding: 33px ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.newsletter form{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
   
}
.newsletter form input[type="email"] {
    padding: 10px 25px;
    width: 300px;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.2);
}
.newsletter form input[type="submit"]{
    font-size: 18px;
    background-color: #840752;
    border-radius: 10px;
    border: #840752;
    padding: 0 7px ;
    color: white;
}
/* contact section */
.contact .container .image img {
    width: 700px;
    height: 500px;
    object-fit: cover;
}

.contact .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.contact .container .form{
    padding: 20px 30px;
   border: .1rem solid rgba(0,0,0,0.1);
   background: white;
   border-radius: 50px;
}
.contact .container .form .sec input,
.contact .container .form .sec textarea{
    width: 100%;
    font-size: 23px;
    outline: none;
    border: none;
    margin: 8px 0;
    text-transform: capitalize;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-bottom:1px solid black ;
}
.form .submit{
    background: #840752;
    color: white;
    padding: 7px 7px;
    border-radius: 10px;
    border: #840752;
}
.form .submit:hover{
    transform: scale(1.1);
    background: rgb(139, 138, 138);
    color:#840752;
}