.logo img{
    width: 100px;
}

.main-header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    background: rgb(238, 241, 241);
}
.main-header .container .logo{
    display: flex;
    align-items: center;

}
.logo-header{
    background-image: linear-gradient(to right, #840752 0%, #ef5aab 51%,#02608a  100%);
    color: transparent;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 23px;
    -webkit-background-clip: text;

}
.search-box input{
    margin-left: 40px;
    padding: 9px 8px;
    border: 3px solid   #840752;
} 
.search-box button{
    padding: 11px 10px;
    background: #840752;
    color: white;
    cursor: pointer;
    margin-right: 10px;
    border: none;
}

.main-header .container .icon{
    font-size: 25px;
    cursor: pointer;
}
.main-header .container .header .container .nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
}

.main-header .container .header .container .nav ul li{
    margin-left: 10px;
}
.main-header .container .header .container .nav ul li .link{
    text-decoration: none;
    text-transform: capitalize;
    font-size: 18px;
}